@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap')
  
.header
  background-color: $color-secondary-b-0
  padding: 0 2em 0 3.5em

  display: flex
  justify-content: space-between
  align-items: center

  &__logo
    color: $color_1

    #RyizeCheat
      font-size: 250%
      font-family: 'Baloo'

  &__nav
    height: 100%
    display: flex
    justify-content: space-between
    align-items: stretch

    &-button button
      padding: auto 1em
      border: none
      color: $color-secondary-b-2
      background-color: #00000000
      transition: .2s

      &:hover
        color: $color-secondary-b-4

    &-button-logo button
      color: $color-secondary-b-4


.header-fixed
  position: fixed
  left: 0
  right: 0
  top: 0
  background-color: $color-secondary-b-0


  height: 4%
  & #RyizeCheat
    font-size: 180%

    &Two
      display: none