doctype html
head
  meta(charset='utf-8')
  link(rel='stylesheet' href='Style.css' type='text/css')
  title RyizeCheat
body
  header.header
    .header__logo
      .header__nav-button.header__nav-button-logo
        form(action='RyizeCheat.html')
          button#header__nav-Glavnaya(type='submit')
            #RyizeCheat
              label RyizeCheat
            #RyizeCheatTwo
              label Лучшие бесплатные читы
    nav.header__nav
      .header__nav-button
        form(action='CounterStrike.html')
          button#header__nav-CounterStrike(type='submit') 
            |CS:GO
      .header__nav-button
        form(action='Minecraft.html')
          button#header__nav-Minecraft(type='submit') 
            |Minecraft
      .header__nav-button
        form(action='Warface.html')
          button#header__nav-Warface(type='submit') 
            |Warface
      .header__nav-button
        form(action='Pubg.html')
          button#header__nav-Pubg(type='submit') 
            |Pubg
      .header__nav-button
        form(action='Dota2.html')
          button#header__nav-Dota2(type='submit') 
            |Dota 2
  main
    .place-for-cards
      .place-for-cards__card
      .place-for-cards__card
      .place-for-cards__card
      .place-for-cards__card
      .place-for-cards__card
      .place-for-cards__card
      .place-for-cards__card
      .place-for-cards__card
      .place-for-cards__card
  script(src='cap.js')