doctype html
head
  meta(charset='utf-8')
  link(rel='stylesheet' href='Style.css' type='text/css')
  title RyizeCheat
#TopHotBar
#TopHotBatTwo
header
  #RyizeCheat
    label
      | RyizeCheat
      label
        br
  #RyizeCheatTwo
    label &Lcy;&ucy;&chcy;&shcy;&icy;&iecy; &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&iecy; &chcy;&icy;&tcy;&ycy;
  div
    form(action='RyizeCheat.html')
      button#Glavnaya(type='submit') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
  div
    form(action='CounterStrike.html')
      button#CounterStrike(type='submit') CS:GO
  div
    form(action='Minecraft.html')
      button#Minecraft(type='submit') Minecraft
  div
    form(action='Warface.html')
      button#Warface(type='submit') Warface
  div
    form(action='Pubg.html')
      button#Pubg(type='submit') Pubg
  div
    form(action='Dota2.html')
      button#Dota2(type='submit') Dota 2
#Kachestvo
  label
    label(style='color: #FF7AEE;') &Kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy;, &pcy;&rcy;&ocy;&scy;&tcy;&ocy;&tcy;&acy; &icy; &vcy;&ocy;&zcy;&icy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&icy; -
    label(style='color: #E7E27E;') &vcy;&ocy;&tcy; &ncy;&acy;&shcy; &dcy;&iecy;&vcy;&icy;&zcy;!
#Osnova
  #CounterStriker
    label#NazvCSGO &CHcy;&icy;&tcy;&ycy; &ncy;&acy; CounterStrike
    br
    form(action='ExtrimHack.html')
      button#ExtrimHack(type='submit') ExtrimHack
      br
    form(action='Onetapsu.html')
      button#ExtrimHack(type='submit') Onetapsu
      br
    form(action='ExtrimHack.html')
      button#ExtrimHack(type='submit') ExtrimHack
      br
    form(action='ExtrimHack.html')
      button#ExtrimHack(type='submit') ExtrimHack
      br
    form(action='ExtrimHack.html')
      button#ExtrimHack(type='submit') ExtrimHack
      br
.payload
